<header>
    <app-header></app-header>
  </header>
  <main>
    <mdb-carousel [controls]="true" [indicators]="true">
      <mdb-carousel-item [interval]="5000">
        <img
          src="https://http2.mlstatic.com/D_NQ_712954-MLA54941988764_042023-OO.webp"
          class="d-block w-100"
          alt="img1"
        />
      </mdb-carousel-item>
      <mdb-carousel-item [interval]="5000">
        <img
          src="https://http2.mlstatic.com/D_NQ_992363-MLA54956499805_042023-OO.webp"
          class="d-block w-100"
          alt="img2"
        />
      </mdb-carousel-item>
      <mdb-carousel-item [interval]="5000">
        <img
          src="https://http2.mlstatic.com/D_NQ_809471-MLA54961786800_042023-OO.webp"
          class="d-block w-100"
          alt="img3"
        />
      </mdb-carousel-item>
    </mdb-carousel>
    
    <section class="main-products">
      <div>
        <h1>Ofertas de la semana</h1>
        <a href="#">Ver más</a>
      </div>
      <app-card></app-card>
    </section>
  </main>
